@import "node_modules/@cells-components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  @apply --cells-ui-movimientos-vcard;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;}

  .panel-top {
    width: 100%;
    background-color: #f4f4f4;
    border:1px solid #BDBDBD;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
  }

  .content-table-movimientos {
    widows: 100wh;
    padding-top: 5px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .negative td {
    color: #B92A45;
  }

  .positive td {
    color: #004481;
  }

 
.btn-refresh {
  background-color: #1464A5;
    border: none;
    color: white;
    padding: 11px 14px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    margin-left: 5px;
}
  

  
.input, .input-number {
  height: 42px;
  width: 248px;
  color: #666;
  background-color: #fff;
  border-bottom: 1px #333 solid;
  border-top: 1px solid #BDBDBD;
  border-left: 1px solid #BDBDBD;
  border-right: 1px solid #BDBDBD;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 1rem;
}